.main {
  width: 100%;
}

.title {
  font-weight: 500;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  cursor: pointer;
  flex-basis: 20%;
  padding: 15px;
}

.card-title {
  font-size: 12px;
  font-weight: 600;
}